@import "mocha.css";

* {
  /*font-family: FantasqueSansMono Nerd Font;*/
  font-family: FiraCode Nerd Font;
  font-size: 16px;
  min-height: 0;
}

#waybar {
  /*background: transparent;*/
  background: @mantle;
  border-radius: 10px;
  /*border: 2px solid @lavender;*/
  color: @text;
  margin: 3px 3px;
}

#workspaces {
  border-radius: 10px;
  margin: 5px;
  background-color: @surface0;
  margin-left: 1rem;
}

#workspaces button {
  color: @lavender;
  border-radius: 10px;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @sapphire;
  border-radius: 10px;
}

#workspaces button:hover {
  color: @sky;
  border-radius: 10px;
  background-color: @transparent;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#network,
#cpu,
#memory,
#pulseaudio,
#custom-lock,
#custom-power {
  /*background-color: @surface0;*/
  padding: 0.5rem 1rem;
/*  margin: 5px 0;*/
}

#clock {
  color: @blue;
  border-radius: 1rem 1rem 1rem 1rem;
  margin-right: 1rem;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight, #battery {
    border-radius: 0;
}
#keyboard-state {
  color: @blue;
}
#network {
  color: @green;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}
#bluetooth {
  color: @sapphire;
}
#cpu {
  color: @green;
}
#memory {
  color: @peach;
  /*border-radius: 0px 0px 0px 0px;*/
  /*margin-left: 1rem;*/
}
#pulseaudio {
  color: @lavender;
  /*border-radius: 0px 0px 0px 0px;*/
  /*margin-left: 1rem;*/
}

#custom-music {
  color: @mauve;
  border-radius: 1rem;
}

#custom-lock {
    border-radius: 1rem 0px 0px 1rem;
    color: @lavender;
}

#custom-power {
    margin-right: 1rem;
    border-radius: 0px 1rem 1rem 0px;
    color: @red;
}

#custom-os {
  margin-left: 1rem;
  color: @blue;
}

/*#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}*/
